@charset "UTF-8"

.gener-layer
  width: 100%
  height: 100vh
  position: absolute
  top: 0
  left: 0

.container
  margin: auto

@media screen and (max-width: 768px)
  .container
    padding: 0px 1rem
    width: 100%
    -webkit-box-sizing: border-box
    box-sizing: border-box
    margin: 0

@media screen and (min-width: 768px)
  .container
    width: 750px

@media screen and (min-width: 992px)
  .container
    width: 970px

@media screen and (min-width: 1200px)
  .container
    width: 1140px

.mt-0
  margin-top: 0rem

.mt-1
  margin-top: 1rem

.mt-2
  margin-top: 2rem

.mt-3
  margin-top: 3rem

.mt-4
  margin-top: 4rem

.mt-5
  margin-top: 5rem

.mr-0
  margin-right: 0rem

.mr-1
  margin-right: 1rem

.mr-2
  margin-right: 2rem

.mr-3
  margin-right: 3rem

.mr-4
  margin-right: 4rem

.mr-5
  margin-right: 5rem

.mb-0
  margin-bottom: 0rem

.mb-1
  margin-bottom: 1rem

.mb-2
  margin-bottom: 2rem

.mb-3
  margin-bottom: 3rem

.mb-4
  margin-bottom: 4rem

.mb-5
  margin-bottom: 5rem

.ml-0
  margin-left: 0rem

.ml-1
  margin-left: 1rem

.ml-2
  margin-left: 2rem

.ml-3
  margin-left: 3rem

.ml-4
  margin-left: 4rem

.ml-5
  margin-left: 5rem

.pt-0
  padding-top: 0rem

.pt-1
  padding-top: 1rem

.pt-2
  padding-top: 2rem

.pt-3
  padding-top: 3rem

.pt-4
  padding-top: 4rem

.pt-5
  padding-top: 5rem

.pr-0
  padding-right: 0rem

.pr-1
  padding-right: 1rem

.pr-2
  padding-right: 2rem

.pr-3
  padding-right: 3rem

.pr-4
  padding-right: 4rem

.pr-5
  padding-right: 5rem

.pb-0
  padding-bottom: 0rem

.pb-1
  padding-bottom: 1rem

.pb-2
  padding-bottom: 2rem

.pb-3
  padding-bottom: 3rem

.pb-4
  padding-bottom: 4rem

.pb-5
  padding-bottom: 5rem

.pl-0
  padding-left: 0rem

.pl-1
  padding-left: 1rem

.pl-2
  padding-left: 2rem

.pl-3
  padding-left: 3rem

.pl-4
  padding-left: 4rem

.pl-5
  padding-left: 5rem

.fw-300
  font-weight: 300

.fw-400
  font-weight: 400

.fw-500
  font-weight: 500

.fw-600
  font-weight: 600

.fw-700
  font-weight: 700

.fw-800
  font-weight: 800

.fw-900
  font-weight: 900

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
  margin: 0
  padding: 0
  font-size: 100%
  vertical-align: baseline

a
  text-decoration: none

  &:active, &:hover
    outline: 0

ul, li
  list-style-type: none
  margin: 0
  padding: 0

h1, h2, h3, h4, h5, h6
  font-size: 100%
  font-weight: normal

html
  -webkit-box-sizing: border-box
  box-sizing: border-box

*
  -webkit-box-sizing: border-box
  box-sizing: border-box

  &:before
    -webkit-box-sizing: border-box
    box-sizing: border-box

\:after
  -webkit-box-sizing: border-box
  box-sizing: border-box

\:focus
  outline: 0

img, audio, video
  max-width: 100%
  height: auto

audio, canvas, iframe, video, img, svg
  vertical-align: middle

iframe
  border: 0

textarea
  resize: none
  overflow: auto
  vertical-align: top
  box-shadow: none
  -webkit-box-shadow: none
  -moz-box-shadow: none

input, textarea, select
  outline: none
  border: none
  font-size: 100%
  margin: 0

button
  outline: none
  border: none
  font-size: 100%
  margin: 0
  line-height: normal

input
  line-height: normal

table
  border-collapse: collapse
  border-spacing: 0
  width: 100%

td, th
  padding: 0
  text-align: left

.cl--blue
  color: #1b4bb1

.bg--blue
  background-color: linear-gradient(90deg, #9baafa, #367bf5)

body
  font-family: "Gotham Pro"

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, .h1 a, .h2 a, .h3 a, .h4 a, .h5 a, .h6 a
  color: inherit

@media only screen and (max-width: 767px)
  .fs-30
    font-size: 24px

@media only screen and (max-width: 575px)
  .fs-30
    font-size: 16px

@media only screen and (min-width: 768px)
  .fs-30
    font-size: 24px

@media only screen and (min-width: 992px)
  .fs-30
    font-size: 30px

@media only screen and (max-width: 767px)
  .fs-24
    font-size: 16px

@media only screen and (max-width: 575px)
  .fs-24
    font-size: 16px

@media only screen and (min-width: 768px)
  .fs-24
    font-size: 18px

@media only screen and (min-width: 992px)
  .fs-24
    font-size: 24px

@media only screen and (max-width: 767px)
  .fs-12
    font-size: 12px

@media only screen and (max-width: 575px)
  .fs-12
    font-size: 12px

@media only screen and (min-width: 768px)
  .fs-12
    font-size: 12px

@media only screen and (min-width: 992px)
  .fs-12
    font-size: 12px

@media only screen and (max-width: 767px)
  .fs-11
    font-size: 11px

@media only screen and (max-width: 575px)
  .fs-11
    font-size: 11px

@media only screen and (min-width: 768px)
  .fs-11
    font-size: 11px

@media only screen and (min-width: 992px)
  .fs-11
    font-size: 11px

a
  -webkit-transition: all 0.2s ease-in-out
  transition: all 0.2s ease-in-out

.t-up
  text-transform: uppercase

.blocks
  display: -webkit-box
  display: -ms-flexbox
  display: flex
  -webkit-box-orient: horizontal
  -webkit-box-direction: normal
  -ms-flex-direction: row
  flex-direction: row
  -ms-flex-wrap: wrap
  flex-wrap: wrap
  -ms-flex-pack: distribute
  justify-content: space-around

.block
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5)
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5)
  display: -webkit-box
  display: -ms-flexbox
  display: flex
  -webkit-box-orient: vertical
  -webkit-box-direction: normal
  -ms-flex-direction: column
  flex-direction: column
  padding: 1rem
  height: 362px
  overflow: auto
  margin-bottom: 2rem

@media only screen and (max-width: 767px)
  .block
    width: 90%

@media only screen and (max-width: 575px)
  .block
    width: 90%

@media only screen and (max-width: 319px)
  .block
    width: 47%

@media only screen and (min-width: 992px)
  .block
    width: 47%

@media screen and (min-width: 767px)
  .block
    width: 47%

.box
  display: -webkit-box
  display: -ms-flexbox
  display: flex
  -webkit-box-orient: horizontal
  -webkit-box-direction: normal
  -ms-flex-direction: row
  flex-direction: row
  height: 100%

.raiting
  display: -webkit-box
  display: -ms-flexbox
  display: flex
  width: 100%

.inner
  display: -webkit-box
  display: -ms-flexbox
  display: flex
  -webkit-box-pack: justify
  -ms-flex-pack: justify
  justify-content: space-between
  -webkit-box-align: end
  -ms-flex-align: end
  align-items: flex-end
  position: relative
  height: 100%

.raiting
  overflow-x: auto
  position: relative
  padding-bottom: 1.3rem

\::-webkit-scrollbar
  width: 2px
  height: 2px

\::-webkit-scrollbar-thumb
  background-color: #0039a6
  border-radius: 9em

.raiting-item
  position: relative
  margin: 0 1rem 1rem 1rem
  padding: 0 1rem 0 0

@media screen and (min-width: 320px)
  .raiting-item
    height: 64%

@media screen and (min-width: 429px)
  .raiting-item
    height: 59%

@media screen and (min-width: 765px)
  .raiting-item
    height: 65%

@media screen and (min-width: 914px)
  .raiting-item
    height: 60%

@media screen and (min-width: 992px)
  .raiting-item
    height: 69%

@media screen and (min-width: 1200px)
  .raiting-item
    height: 63%

@-moz-document url-prefix() 
  @media screen and (min-width: 320px)
    .raiting-item
      height: 64%

  @media screen and (min-width: 429px)
    .raiting-item
      height: 59%

  @media screen and (min-width: 765px)
    .raiting-item
      height: 65%

  @media screen and (min-width: 914px)
    .raiting-item
      height: 62%

  @media screen and (min-width: 992px)
    .raiting-item
      height: 70%

  @media screen and (min-width: 1200px)
    .raiting-item
      height: 67%
      
    
   

.values
  white-space: nowrap

  table
    width: 100%

  tr
    &:last-child td
      padding: .5rem 0 0 0

    &:nth-child(4) td
      padding-bottom: 0

  td
    text-align: end

  tr
    border: none

@media screen and (min-width: 429px)
  .values table
    margin: 1.3em 0 0 0

@media screen and (min-width: 765px)
  .values table
    margin: 0

@media screen and (min-width: 914px)
  .values table
    margin: 1.2rem 0 0 0

@media screen and (min-width: 992px)
  .values table
    margin: 0

@media screen and (min-width: 1200px)
  .values table
    margin: 1.6rem 0 0 0

@media screen and (min-width: 320px)
  .values tr:nth-child(5) td
    padding: .9rem 0 0 0

@media screen and (min-width: 429px)
  .values tr:nth-child(5) td
    padding: .5rem 0 0 0

@media screen and (min-width: 992px)
  .values tr:nth-child(5) td
    padding: .4rem 0 0 0

@media screen and (min-width: 320px)
  .values td
    padding: 2rem 0 0 0

@media screen and (min-width: 429px)
  .values td
    padding: 2em 0 1em 0

@media screen and (min-width: 992px)
  .values td
    padding: 1em 0 2em 0

@media screen and (min-width: 1200px)
  .values td
    margin: 1.6em 0 0 0

.item
  text-align: end

.value
  margin: 0 0 1rem 0
  background: -webkit-gradient(linear, left top, right top, from(#9baafa), to(#367bf5))
  background: linear-gradient(90deg, #9baafa, #367bf5)
  width: 25px
  cursor: pointer
  height: 50%
  position: absolute
  bottom: 13px

.team-num
  position: absolute
  bottom: 0

.lines
  position: absolute
  width: 100%
  bottom: 45px
  z-index: -1

  table
    width: 100%

    tr
      height: 50px

@media only screen and (min-width: 320px)
  .lines table tr
    height: 48px

@media screen and (min-width: 1200px)
  .lines table tr
    height: 49px

@-moz-document url-prefix() 

  @media screen and (min-width: 429px)
    .values table
      margin: 1.5em 0 0 0

  @media screen and (min-width: 765px)
    .values table
      margin: 0

  @media screen and (min-width: 914px)
    .values table
      margin: 1.2rem 0 0 0

  @media screen and (min-width: 992px)
    .values table
      margin: 0

  @media screen and (min-width: 1200px)
    .values table
      margin: .4rem 0 0 0

  @media screen and (min-width: 914px)
    .lines table tr
      height: 50px
    
  @media screen and (min-width: 992px)
    .lines table tr
      height: 49px


@media screen and (min-width: 320px)
  .raiting-item
    -ms-height: 61%


td
  padding: 1rem .5rem 1rem .5rem
  text-align: center
  border-bottom: medium

tr
  border-bottom-width: 1px
  border-bottom-style: solid
  border-bottom-color: black

.tooltiptext
  position: absolute
  top: auto
  left: 50%
  -webkit-transform: translateX(-50%)
  transform: translateX(-50%)
  bottom: 105%
  font-size: 11px
  cursor: pointer


.tooltip
  .tooltiptext
    visibility: hidden
    width: 90px
    background: -webkit-gradient(linear, left top, right top, from(#9baafa), to(#367bf5))
    background: linear-gradient(90deg, #9baafa, #367bf5)
    color: #fff
    text-align: center
    padding: 5px 0

    /* Разместите текст всплывающей подсказки - см. Примеры ниже!
    position: absolute
    z-index: 1

  &:hover .tooltiptext
    visibility: visible

  .tooltiptext::after
    content: " "
    position: absolute
    top: 100%

    /* В нижней части всплывающей подсказки
    left: 50%
    margin-left: -5px
    border-width: 5px
    border-style: solid
    border-color: #6491f8 transparent transparent transparent

/* Показывать текст всплывающей подсказки при наведении указателя мыши на контейнер всплывающей подсказки

/*# sourceMappingURL=style.css.map