<template>
  <div id="app">
  


    <div class="t-up fw-500 fs-30 ml-1 mt-1 mb-1 pl-1">Рейтинги команд</div>

    <div class="blocks center">

        <div class="block">
            <div class="t-up fw-500 fs-24 mt-1 ">Табло динамики рейтингов команд</div>
            <div class="fs-12 mt-1 ml-1">Рейтинг</div>

            <div class="box">

                <div class=" values">
                            
                    <table>
                        <tbody>
                            <tr>
                                <td class=" fs-12 ">900</td>
                            </tr>
                            <tr>
                                <td class=" fs-12 ">600</td>
                            </tr>
                            <tr>
                                <td class=" fs-12 ">300</td>
                            </tr>
                            <tr>
                                <td class=" fs-12 ">0</td>
                            </tr>
                            <tr>
                                <td class=" fs-11 item">№ команды</td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- <div class="item fs-11">№ команды</div> -->
                </div>
                <!-- <div class="values">
                    <div class="item fs-12">900</div>
                    <div class="item fs-12">600</div>
                    <div class="item fs-12">300</div>
                    <div class="item fs-12">0</div>
                    <div class="item fs-11">№ команды</div>

                </div> -->

                <div class="raiting ml-1">
                    <div class="inner pr-1 pl-1">

                        <div class="lines">
                            
                            <table>
                                <tbody>
                                    <tr>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="raiting-item">

                            <div class="value tooltip" style="height: 50%;">
                                <span class="tooltiptext">Москва</span>
                            </div>                          
                            <div class="team-num fs-12">№1</div>
                        </div>

                        <div class="raiting-item">

                            <div class="value tooltip" style="height: 70%;">
                                <span class="tooltiptext">Москва</span>
                            </div>
                            
                            <div class="team-num fs-12">№2</div>
                        </div>

                        <div class="raiting-item">

                            <div class="value tooltip" style="height: 100%;">
                                <span class="tooltiptext">Москва</span>
                            </div>
                            
                            <div class="team-num fs-12">№3</div>
                        </div>

                        <div class="raiting-item">

                            <div class="value tooltip" style="height: 33%;">
                                <span class="tooltiptext">Москва</span>
                            </div>
                            
                            <div class="team-num fs-12">№4</div>
                        </div>

                        <div class="raiting-item">

                            <div class="value tooltip" style="height: 86%;">
                                <span class="tooltiptext">Москва</span>
                            </div>
                            
                            <div class="team-num fs-12">№5</div>
                        </div>

                        <div class="raiting-item">

                            <div class="value tooltip" style="height: 20%;">
                                <span class="tooltiptext">Москва</span>
                            </div>
                            
                            <div class="team-num fs-12">№6</div>
                        </div>

                        <div class="raiting-item">

                            <div class="value tooltip" style="height: 89%;">
                                <span class="tooltiptext">Москва</span>
                            </div>
                            
                            <div class="team-num fs-12">№7</div>
                        </div>

                        <div class="raiting-item">

                            <div class="value tooltip" style="height: 50%;">
                                <span class="tooltiptext">Москва</span>
                            </div>
                            
                            <div class="team-num fs-12">№8</div>
                        </div>

                        <div class="raiting-item">

                            <div class="value tooltip" style="height: 66%;">
                                <span class="tooltiptext">Москва</span>
                            </div>
                            
                            <div class="team-num fs-12">№9</div>
                        </div>

                        <div class="raiting-item">

                            <div class="value tooltip" style="height: 77%;">
                                <span class="tooltiptext">Москва</span>
                            </div>
                            
                            <div class="team-num fs-12">№10</div>
                        </div>

                        <div class="raiting-item">

                            <div class="value tooltip" style="height: 98%;"> 
                                <span class="tooltiptext">Москва</span>
                            </div>
                            
                            <div class="team-num fs-12">№11</div>
                        </div>

                        <div class="raiting-item">

                            <div class="value tooltip" style="height: 30%;">
                                <span class="tooltiptext">Москва</span>
                            </div>
                            
                            <div class="team-num fs-12">№12</div>
                        </div>

                        <div class="raiting-item">

                            <div class="value tooltip" style="height: 40%;">
                                <span class="tooltiptext">Москва</span>
                            </div>
                            
                            <div class="team-num fs-12">№13</div>
                        </div>

                        
                    </div>
                </div>
            </div>
    
        </div>
    
        <div class="block">
            <div class="t-up fw-500 fs-24 mt-1 mb-1">Список команд</div>
            <table>
                <thead>
                    <tr class="fw-500 fs-14">
                        <td>Номер</td>
                        <td>Название</td>
                        <td>Проект</td>
                        <td>Тренер</td>
                        <td>Город</td>
                        <td>Рейтинг</td>
                    </tr>
                </thead>

                <tbody class="fs-12">

                    <tr >
                        <td>1</td>
                        <td>Москва</td>
                        <td>Название</td>
                        <td>В.В.Путин</td>
                        <td>Москва</td>
                        <td>1500</td>
                    </tr>

                    <tr>
                        <td>2</td>
                        <td>Москва</td>
                        <td>Название</td>
                        <td>В.В.Путин</td>
                        <td>Москва</td>
                        <td>1200</td>
                    </tr>

                    <tr>
                        <td>3</td>
                        <td>Москва</td>
                        <td>Название</td>
                        <td>В.В.Путин</td>
                        <td>Москва</td>
                        <td>900</td>
                    </tr>

                    <tr>
                        <td>4</td>
                        <td>Москва</td>
                        <td>Название</td>
                        <td>В.В.Путин</td>
                        <td>Москва</td>
                        <td>600</td>
                    </tr>

                    <tr>
                        <td>5</td>
                        <td>Москва</td>
                        <td>Название</td>
                        <td>В.В.Путин</td>
                        <td>Москва</td>
                        <td>300</td>
                    </tr>

                    <tr>
                        <td>6</td>
                        <td>Москва</td>
                        <td>Название</td>
                        <td>В.В.Путин</td>
                        <td>Москва</td>
                        <td>0</td>
                    </tr>

                    <tr>
                        <td>7</td>
                        <td>Москва</td>
                        <td>Название</td>
                        <td>В.В.Путин</td>
                        <td>Москва</td>
                        <td>0</td>
                    </tr>

                    <tr>
                        <td>8</td>
                        <td>Москва</td>
                        <td>Название</td>
                        <td>В.В.Путин</td>
                        <td>Москва</td>
                        <td>0</td>
                    </tr>

                    <tr>
                        <td>9</td>
                        <td>Москва</td>
                        <td>Название</td>
                        <td>В.В.Путин</td>
                        <td>Москва</td>
                        <td>0</td>
                    </tr>

                    <tr>
                        <td>10</td>
                        <td>Москва</td>
                        <td>Название</td>
                        <td>В.В.Путин</td>
                        <td>Москва</td>
                        <td>0</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    


  </div>
</template>

<script>


export default {
  name: 'App',
  components: {
    
  }
}
</script>

<style lang="scss">

</style>
